{{#each submissions}}
<div class="container">
  <div class="page-header">
    <h1>{{ this.title }}</h1>
    <span>{{ this.author }}</span>
  </div>
  {{#if this.body}}
  <div class="well">
    {{{ this.body }}}
  </div>
  {{/if}}
  {{>comment}}
</div>
{{/each}}