<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Send reddit directly to your kindle">
    <meta name="author" content="Alex Beard">
    <meta name="theme-color" content="#eee">

    <title>reddit2kindle</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS Libraries -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/reddit2kindle.css') }}" rel="stylesheet">

</head>
<body>

{% block content %}
{% endblock %}

<!-- JS Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/reddit2kindle.js') }}"></script>
<script src="{{ url_for('static', filename='js/ga.js') }}"></script>

</body>
</html>
